@import '../../styles/utils.scss';

.modal{
  z-index: 2;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0, 0.7);

  &__wrapper-content {
    padding: 0 34px;
  }

  &-window {
    position: relative;
    margin: 80px auto 0;
    background: #fff;
    width: 720px;
    height: 90vh;
    overflow-y: auto;

    @media (max-width: $breack-point-tablet) {
      width: 100%;
      margin: 0;
      height: 100%;
    }

    &__button-close {
      position: absolute;
      top: 24px;
      right: 24px;
      width: 46px;
      height: 46px;
      box-shadow: 0 0 10px rgba(0,0,0,0.5);
      border-radius: 50%;
      background: rgba(211,211,211,0.7);
      &:hover {
        cursor: pointer;
      }
    }

    &__wrapper-img {
      margin-bottom: 50px;
    }

    &__img {
      width: 100%;
    }

    &__title {
      font-size: 30px;
      font-weight: 500;
      line-height: 21px;
      margin-bottom: 8px;

      @media (max-width: $breack-point-phone) {
        font-size: 24px;
      }
    }

    &__description {
      font-size: 14px;
      font-weight: 21px;
      color: #626262;
      margin-bottom: 30px;
    }

    &__footer {
      display: flex;
      align-items: center;
      margin: 24px 0;

      @media (max-width: $breack-point-phone) {
        display: block;
      }
    }
  }
}
