.Cart {
  display: flex;
  align-items: center;
  flex-direction: column;

  &__Container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__Total {
    padding: 1rem;
    margin-top: 3rem;
    border: 0.2rem solid #ccc;
    border-radius: 20px;
    width: 15rem;
    height: 8rem;
    position: relative;
  }

  &__TotalPrice {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
  }

  &__TotalBuy {
    $main-green-color: rgb(4, 39, 4);
    border: 0;
    outline: 0;
    width: 70%;
    position: absolute;
    height: 3rem;
    bottom: 2rem;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: $main-green-color;
    border-radius: 5rem;
    cursor: pointer;
    font-size: 1.5rem;
    color: #fff;
    transition: all 0.5s;

    &:hover {
      border: 1px solid $main-green-color;
      background-color: #fff;
      color: $main-green-color;
    }
  }

  &__EmptyContainer {
    max-width: 17rem;
    margin: 5rem auto 0;
    text-align: center;
  }

  &__Empty {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  &__EmptyLink {
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(105, 103, 103);
    transition: all 0.3s;

    &:hover {
      color: rgb(63, 62, 62);
    }
  }
}
