@import '../../styles/extends.scss';

.load-container {
  @extend %absolute-center;
}

.lds-default {
  display: inline-block;
  position: relative;
  width: 64px * 2;
  height: 64px * 2;
}

.lds-default div {
  position: absolute;
  width: 5px * 2;
  height: 5px * 2;
  background: #5eb707;
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}

.lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 29px * 2;
  left: 53px * 2;
}

.lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 18px * 2;
  left: 50px * 2;
}

.lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 9px * 2;
  left: 41px * 2;
}

.lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 6px * 2;
  left: 29px * 2;
}

.lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 9px * 2;
  left: 18px * 2;
}

.lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 18px * 2;
  left: 9px * 2;
}

.lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 29px * 2;
  left: 6px * 2;
}

.lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 41px * 2;
  left: 9px * 2;
}

.lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 50px * 2;
  left: 18px * 2;
}

.lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 53px * 2;
  left: 29px * 2;
}

.lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 50px * 2;
  left: 41px * 2;
}

.lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 41px * 2;
  left: 50px * 2;
}

@keyframes lds-default {
  0%,
  20%,
  80%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}
