@import "../../styles/extends.scss";

.control {
  $border-color: #e0e0e0;
  @extend %flex-row;

  padding: 11px 16px;
  border: 1px solid $border-color;
  transition: border-color 300ms;

  &--focused {
    border-color: darken($border-color, 20);
  }

  &__icon {
    width: 14px;
    height: 14px;
    margin-right: 10px;
  }
  &__input {
    max-height: 24px;
    line-height: 24px;
  }
  & + & {
    margin-left: 20px;
  }
}
