@import "../../styles/utils";

.control {
  &__input-wrapper {
    @extend %flex-row-center;
    padding: 11px 16px;
    border: 1px solid $color-gray;
    transition: border-color 300ms;
  }

  &--focused {
    border-color: darken($color-gray, 20);
  }
  &__icon {
    width: 14px;
    height: 14px;
    margin-right: 10px;
  }

  &__input {
    max-height: 24px;
    line-height: 24px;

    &--time {
      max-width: 75px;
    }

    &--small {
      @media (max-width: $break-point-tablet-lg) {
        max-width: 75px;
      }
    }
  }

  &__label {
    font-size: 14px;
    margin-bottom: 8px;
    color: #626262;
  }

  & + & {
    margin-left: 20px;
  }
}
