.control {
  display: flex;
  align-items: center;
  height: 48px;
  width: 262px;

  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 2px;
  transition: border-color 0.3s ease-in-out;

  padding-left: 8px;
  margin-right: 20px;

  @media (max-width: 970px) {
    margin-right: 10px;
    width: 160px;
  }

  &.text {
    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &__input {
    width: 92%;
  }

  &.focus {
    border-color: #5fb709;
  }

  &.time {
    width: 92px;
  }

  &__icon {
    height: 14px;
    width: 14px;

    margin-right: 4px;
  }
}
