@import "../../styles/extends.scss";
@import "../../styles/variables.scss";

.control {
  &__wrapper {
    @extend %flex-row;
    padding: 11px 16px;
    height: 48px;
    border: 1px solid $c-lightGray;
    transition: border-color 0.3s;
  }

  &__icon {
    width: 14px;
    height: 14px;
    margin-right: 10px;
  }
  &__wrapper.address {
    min-width: 200px;
  }
  &__input {
    display: flex;
    cursor: pointer;
    width: 100%;
    line-height: 24px;
    max-height: 24px;
    outline: none;
    border: none;
    background-color: transparent;
  }
  &--focused {
    border-color: darken($c-lightGray, 20);
  }

  &__label {
    font-size: $smallFontSize;
    margin-bottom: 8px;
    color: #626262;
    margin-left: 20px;
  }
}

@media (max-width: $breakpointMobile) {
  .control__input {
    max-width: 75px;
  }
}

@media (max-width: $breakpointTabletL) {
  .control__input--small {
    max-width: 100px;
  }
}
