@import './variable.scss';

.footer {
  background: $colorBackgroundFooter;
  margin-top: 80px;
  padding: 0 80px;

  &__section {
    padding-top: 72px;
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr;
    font-size: 16px;
    line-height: 24px;
  }

  &__logo {
    height: 116px;
  }

  &__logo-section {
    display: flex;
    flex-flow: column;
  }

  &__nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 80px;
    padding: 32px 0 40px;
  }

  &__nav-lang {
    position: relative;
    width: fit-content;
    cursor: pointer;
  }

  &__nav-lang-input {
    width: 227px;
    height: 40px;
    background: #1F1F1F;
    border: 0;
    border-radius: 2px;
    padding: 12px 48px;
    color: #fff;
    z-index: 1;
  }

  &__nav-lang-input::placeholder {
    font-size: 13px;
    font-weight: normal;
    line-height: 15px;
    color: #fff;
  }

  &__nav-name {
    margin-top: 33px;
    font-size: 16px;
    font-weight: normal;
    line-height: 19px;
    color: #fff;
  }

  &__nav-name-hash {
    color: #49a144;
  }

  &__column {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
  }

  &__column img {
    height: 16px;
    width: 16px;
    margin-right: 8px;
  }

  &__column > a {
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    text-decoration: none;
    padding-bottom: 16px;
  }

  &__column > a:first-child {
    padding-bottom: 24px;
    font-weight: 800;
  }

  &__app img{
    height: 40px;
  }

  &__app .gplay {
    margin-left: 16px;
  }

  .hr {
    margin: 40px 0;
  }

  .hr-mobile {
    display: none;
  }

  &__rights {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    color: #fff;
    padding-bottom: 50px;
  }

  &__rights > p {
    font-size: 14px;
  }

  &__rights-info {
    display: flex;
  }

  &__rights-info > a {
    padding-right: 40px;
  }

  &__rights .link {
    color: #fff;
    text-decoration: none;
  }

  &__logo-section-mobile {
    display: none;
  }

  & a:hover {
    opacity: 0.6;
  }
}

  .social__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 80px;
  }

  .social__buttons-item {
    border: none;
    width: 16px;
    height: 16px;
  }

  .social__buttons-item:hover {
    cursor: pointer;
    opacity: 0.6;
  }

  .facebook {
    background: url('https://d3i4yxtzktqr9n.cloudfront.net/web-eats-v2/ccfc8856107f17665b7c82df307d35ee.svg') no-repeat;
  }

  .twitter {
    margin: 0 24px;
    background: url('https://d3i4yxtzktqr9n.cloudfront.net/web-eats-v2/db07894edae0a7dde4b9f7477489eb3f.svg') no-repeat;
  }

  .instagram {
    background: url('https://d3i4yxtzktqr9n.cloudfront.net/web-eats-v2/8c75d9d92274d2f1df48a02f35a7b1f0.svg') no-repeat;
  }

