/* stylelint-disable */
.footer {
  background: #1F1F1F;
  margin-top: 80px;
  padding: 0 80px;
}

.footer__section {
  padding-top: 72px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.5fr 0.5fr;
      grid-template-columns: 1fr 0.5fr 0.5fr;
  font-size: 16px;
  line-height: 24px;
}

.footer__logo {
  height: 116px;
}

.footer__logo-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.footer__nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 80px;
  padding: 32px 0 40px;
}

.footer__nav-lang {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

.footer__nav-lang-input {
  width: 227px;
  height: 40px;
  background: #1F1F1F;
  border: 0;
  border-radius: 2px;
  padding: 12px 48px;
  color: #fff;
  z-index: 1;
}

.footer__nav-lang-input::-webkit-input-placeholder {
  font-size: 13px;
  font-weight: normal;
  line-height: 15px;
  color: #fff;
}

.footer__nav-lang-input:-ms-input-placeholder {
  font-size: 13px;
  font-weight: normal;
  line-height: 15px;
  color: #fff;
}

.footer__nav-lang-input::-ms-input-placeholder {
  font-size: 13px;
  font-weight: normal;
  line-height: 15px;
  color: #fff;
}

.footer__nav-lang-input::placeholder {
  font-size: 13px;
  font-weight: normal;
  line-height: 15px;
  color: #fff;
}

.footer__nav-name {
  margin-top: 33px;
  font-size: 16px;
  font-weight: normal;
  line-height: 19px;
  color: #fff;
}

.footer__nav-name-hash {
  color: #49a144;
}

.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__column img {
  height: 16px;
  width: 16px;
  margin-right: 8px;
}

.footer__column > a {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
  padding-bottom: 16px;
}

.footer__column > a:first-child {
  padding-bottom: 24px;
}

.footer__app img {
  height: 40px;
}

.footer__app .gplay {
  margin-left: 16px;
}

.footer .hr {
  margin: 40px 0;
}

.footer .hr-mobile {
  display: none;
}

.footer__rights {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #fff;
  padding-bottom: 70px;
}

.footer__rights > p {
  font-size: 14px;
}

.footer__rights-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__rights-info > a {
  padding-right: 40px;
}

.footer__rights .link {
  color: #fff;
  text-decoration: none;
}

.footer__logo-section-mobile {
  display: none;
}

.footer a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=footer.css.map */