/* stylelint-disable */
.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 80px;
  height: 80px;
  white-space: nowrap;
}

.header__fixed {
  position: fixed;
  background-color: white;
  min-width: 964px;
  width: 100%;
  padding: 28px 80px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 10px #d6d3d3;
          box-shadow: 0px 0px 10px #d6d3d3;
  top: 0;
  z-index: 2;
}

.header__logo {
  height: 24px;
  width: 146px;
  margin-right: 64px;
}

.header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__button:not(:first-child) {
  padding: 0 16px;
}

.header__top button {
  border: none;
  background: white;
  font-size: 16px;
  font-family: Roboto;
  margin-right: 40px;
  cursor: pointer;
}

.header__top button span {
  margin-left: 5px;
}

.header__location-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header__location-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f5f5f5;
  padding: 12px 16px;
  border-bottom: 1.5px solid black;
  margin-right: 25px;
}

.header__location-input * {
  padding-right: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f5f5f5;
}

.header__location-input button {
  background: #f5f5f5;
  color: #757575;
  padding: 0;
  margin: 0;
}

.header__location-input input {
  border: none;
  font-size: 16px;
  width: 100%;
  -webkit-animation-duration: 100ms;
          animation-duration: 100ms;
  -webkit-animation-name: slidein;
          animation-name: slidein;
}

@-webkit-keyframes slidein {
  from {
    width: 0;
  }
  to {
    width: 9.5vw;
  }
}

@keyframes slidein {
  from {
    width: 0;
  }
  to {
    width: 9.5vw;
  }
}

.header__vertical-line {
  border-left: 1.5px solid #e0e0ee;
  padding: 0;
  margin: 0 16px;
}

.header__dropdown {
  position: relative;
  display: inline-block;
  z-index: 3;
}

.header__dropdown-child {
  padding: 8px 0px;
  display: -ms-grid;
  display: grid;
  position: absolute;
}

.header__dropdown-child .header__button {
  padding: 8px 16px;
  margin: 0;
}

.header .mainmenubtn {
  border: none;
  background: whitesmoke;
  padding: 0 16px;
  height: 48px;
  cursor: pointer;
}

.header__dropdown .header__button {
  padding: 0 16px;
  height: 48px;
}

.header__active {
  background-color: #f5f5f5;
  border-bottom: 1.5px solid black;
  padding-bottom: 7px;
}

.header__auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5px;
}

.header__button--auth {
  text-decoration: none;
  color: black;
}
/*# sourceMappingURL=header.css.map */
