/* stylelint-disable */
.restaurant {
  &__image {
    margin: 0;
    padding: 0;
    height: 380px;
  }

  &__image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
  }

  &__main-details {
    position: absolute;
    top: 130px;
    background-color: white;
    padding: 24px 15px 24px 80px;
    width: 100%;
    max-width: 50%;
  }

  &__main-title {
    font-weight: 500;
    line-height: 44px;
    font-size: 36px;
    padding-bottom: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__categoria {
    font-size: 16px;
  }

  &__other-details {
    display: flex;
  }

  &__delivery-time {
    display: flex;
    align-items: center;
    margin-top: 16px;
    margin-right: 10px;
    font-size: 14px;
  }

  &__delivery-time img {
    height: 14px;
    width: 14px;
    margin: 0 5px;
  }

  &__delivery-time span {
    color: #757575;
  }

  &__item--adress {
    padding-top: 24px;
    font-size: 14px;
    color: #1F1F1F;
  }

  &__section {
    margin: 0 80px;
  }

  &__menu {
    display: flex;
    align-items: center;
    list-style: none;
    height: 80px;
    padding: 0;
  }

  &__menu li {
    display: flex;
    margin-right: 50px;
    text-transform: uppercase;
    height: 100%;
    align-items: center;
    border-bottom: 2px solid transparent;
  }

  &__menu li a {
    text-decoration: none;
    color: #1F1F1F;
    cursor: pointer;
  }

  &__menu li a:hover,
  &__menu li a:focus {
    color: #3e9920;
  }

  &__menu-title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
  }

  &__menu-time-info {
    font-size: 12px;
  }

  &__hr {
    opacity: 0.3;
    margin-bottom: 30px;
  }

  &__submenu {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    list-style: none;
    padding: 0;
  }

  &__submenu a {
    color: #1F1F1F;
    text-decoration: none;
    padding-right: 30px;
    font-size: 14px;
    white-space: nowrap;
    cursor: pointer;
  }

  &__submenu a:hover,
  &__submenu a:focus {
    color: #3e9920;
  }

  &__submenu--more {
    display: none;


  }

  &__menu-catalog {
    margin: 40px 0;
  }

  &__menu-catalog--title {
    font-size: 20px;
    font-weight: 400;
    color: #1F1F1F;
    padding-bottom: 24px;
  }

  &__items-catalog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px 24px;
  }

  &__item-catalog {
    display: flex;
    justify-content: space-between;
    height: 100%;
    border: 1px solid #E0E0E0;
    text-decoration: none;
    color: #1F1F1F;
  }

  &__item-catalog:hover,
  &__item-catalog:focus {
    border: 1px solid #3e9920;
  }

  &__item-catalog-info {
    padding: 16px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 270px;
    width: 60%;
  }

  &__item-catalog--title {
    font-size: 16px;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__item-catalog--details {
    font-size: 14px;
    padding-top: 4px;
    line-height: 20px;
    color: #757575;
  }

  &__item-catalog--price {
    padding-top: 10px;
    font-size: 16px;
    line-height: 24px;
  }

  &__item-catalog--image {
    width: 156px;
    min-width: 156px;
    height: 156px;
  }

  &__item-catalog--image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

ul .active-menu {
  border-bottom: 2px solid #1F1F1F;
}
