/* stylelint-disable */
@media (max-width: 980px) {
  .header {
    &__logo {
      margin-right: 25px;
    }

    &__location-input {
      margin: 0;
    }

    &__top {
      margin: 0;
      min-width: 300px;
    }

    &__top button {
      margin-right: 0;
    }

    &__button {
      padding: 0 0 0 32px;
    }

    &__dropdown {
      display: none;
    }

    &__location-section &__button {
      display: none;
    }

    &__location-section &__location-input {
      display: none;
    }

    &__dropdown-select {
      display: none;
    }
  }

  .main-section {
    &__delivery {
      display: grid;
      grid-template-columns: 65px 0.6fr;
      grid-gap: 8px 25px;
      margin: 40px 70px;
      padding-top: 80px;
    }

    &__heading {
      display: inline;
      font-size: 22px;
      line-height: 34px;
      font-weight: normal;
      margin: 0 70px;
    }
  }

  .catalog {
    grid-template-columns: repeat(2, 47%);
    grid-gap: 30px 24px;
    min-width: 320px;
    padding: 0;
    padding-top: 32px;
    margin: 0 70px;

    &__all-btn {
      width: 30%;
    }

    &__empty {
      margin: 80px 0 18px;
    }
  }

  .footer__app {
    display: grid;
  }

  .footer__rights>p {
    font-size: 12px;
  }

  .footer__app .gplay {
    margin-left: 0;
    padding-top: 10px;
  }

  .footer__column>a {
    font-size: 13px;
  }

  .footer__rights-info>a {
    padding-right: 15px;
    font-size: 13px;
  }

  .footer__logo {
    height: 70px;
  }

  .restaurant {

  &__submenu a {
    padding-right: 15px;
    font-size: 13px;
  }

  &__items-catalog {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px 14px;
  }

  &__item-catalog--title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__item-catalog-info {
    width: 140px;
    max-width: 60%;
}

  &__main-details {
    top: 30%;
    left: 20%;
    width: 100%;
    max-width: 60%;
  }

  &__main-title {
    font-size: 28px;
    padding-bottom: 10px;
  }

  &__item--adress {
    display: none;
  }

  .main-section__heading {
    display: none;
  }

  .main-section__delivery {
    margin: 30px 70px;
  }
  }
}
