 /* stylelint-disable */ 
$maxWidthContentDesktop: 962px;
$maxWidthContentTablet: 795px;
$maxWidthContentMobile: 376px;

$colorBoxShadowHeader: #bab8b8;
$colorBorderHeader: #e0e0e0;
$colorHoverBootom: #59BD5A;
$colorBackgroundFooter: #262626;
