.restaurant-card {
  height: 367px;
  width: 100%;

  cursor: pointer;

  &__title {
    margin: 12px 0 4px;
  }

  &__img {
    height: 70%;
    width: 100%;

    object-fit: cover;
  }

  &__categories {
    font-size: 14px;
    color: #757575;

    margin-bottom: 8px;
  }

  &__eta-range {
    display: inline-block;
    padding: 2px 8px;
    background-color: #f5f5f5;
  }
}
