@import "../../styles/vars";
$height: 367px;

.restaurant_card {
  width: 100%;
  cursor: pointer;

  &__image {
    width: 100%;
    height: 279px;
    object-fit: cover;
  }

  &__header {
    font-weight: 500;
    line-height: 1.2;
    font-size: 16px;
    margin: 8px 0;
  }

  &__categories {
    font-size: 14px;
    line-height: 16px;
    margin-top: 4px;
    color: #757575;
  }

  &__time {
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    margin-top: 7px;
    padding: 0 8px;
    background-color: #e5e5e5;
  }
}

@media screen and (max-width: $max-widthIPad) {
  .restaurant_card {

    &__image {
      height: 224px;
    }
  }
}
