.restaurant-card {
  $height: 367px;
  height: $height;
  width: 100%;

  &__img {
    height: $height * 0.7;
    width: 100%;

    object-fit: cover;
  }

  &__title {
    margin: 12px 0 4px;
  }

  &__categories {
    font-size: 14px;
    color: #757575;

    margin-bottom: 4px;
  }

  &__eta {
    font-size: 14px;

    display: inline-block;
    padding: 2px 8px;
    
    background-color: #f5f5f5;
  }

  cursor: pointer;
}
