@import "../../styles/utils";

.restaurant-card {
  --height: 367px;

  height: var(--height);
  width: 100%;

  cursor: pointer;
  transition: transform 0.5s;

  &:hover {
    transform: translate(0, -5px);
  }

  @media (max-width: $break-point-phone) {
    --height: 330px;
  }

  &__img {
    height: calc(var(--height) * 0.7);
    width: 100%;
    object-fit: cover;
  }

  &__title {
    margin: 12px 0 4px;
  }

  &__categories {
    font-size: 14px;
    color: #757575;

    margin-bottom: 4px;
  }

  &__eta {
    font-size: 14px;

    display: inline-block;
    padding: 2px 8px;

    background-color: #f5f5f5;
  }
}
