@import '../../styles/utils.scss';

.counter {
  display: flex;
  align-items: center;

  @media (max-width: $breack-point-phone) {
    margin-bottom: 20px;
  }

  &__mobile {
    display: none;
    @media (max-width: $breack-point-phone) {
      display: inline;
      margin-right: auto;
    }
  }

  &__button {

    border-radius: 50%;

    transition: box-shadow 300ms;

    margin-right: 17px;

    @media (max-width: $breack-point-phone) {
      &:not(:last-of-type) {
        margin-right: 26px;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }

    &:hover {
      cursor: pointer;
      box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }

    &:active {
      box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
    }
  }

  &__item {
    margin-right: 17px;

    @media (max-width: $breack-point-phone) {
      &:not(:last-of-type) {
        margin-right: 26px;
      }
    }
  }
}

.button-order {
  display: flex;
  justify-content: flex-end;

  height: 55px;
  width: 100%;
  background: #247a00;
  color: #fff;

  font-weight: 500;

  transition: box-shadow 300ms;

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(36,122,0, 0.5);
  }

  &:active {
    box-shadow: inset 0 0 10px rgba(36,122,0, 0.5);
  }

  &__amount {
    margin-right: 16px;
    display: block;
    white-space: nowrap;
  }

  &__wrapper-number {
    width: 100%;
  }
}
