@import "../../styles/vars";

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100vw;
}

.restaurants_list {
  display: grid;
  padding: 0 264px;
  justify-content: center;
  grid-template-columns: repeat(4, minmax(348px, 1fr));
  gap: 40px 20px;

  &__heading {
    display: none;
  }
}

.loader {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

@media screen and (max-width: $max-widthFullHd) {
  .restaurants_list {
    padding: 0 97px;
    grid-template-columns: repeat(3, minmax(348px, 1fr));
  }
}

@media screen and (max-width: $max-widthIMac) {
  .restaurants_list {
    padding: 0 35px;
    grid-template-columns: repeat(2, minmax(340px, 1fr));

    &__heading {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
      display: block;
      margin-top: 40px;
      font-size: 20px;
    }
  }
}

@media screen and (max-width: $max-widthIPad) {
  .restaurants_list {
    padding: 0 20px;
    grid-template-columns: minmax(280px, 1fr);

    &__heading {
      grid-column-end: 2;
    }
  }
}
