@import "../../store/styles/extends.scss";
@import "../../store/styles/variables.scss";

.error {
  @extend %absolute-center;
  flex-flow: column nowrap;

  &__text {
    font-size: 24px;
    font-weight: 500;
  }

  &__link {
    font-size: 24px;
    color: $color-green;

    &:hover {
      text-decoration: underline;
    }
  }
}
