@import "../../styles/extends";

.error {
  @extend %absolute-center;
  flex-flow: column nowrap;

  &__text {
    font-size: 30px;
    font-weight: 500;
  }

  &__link {
    font-size: 24px;
    color: #5fb709;

    &:hover {
      text-decoration: underline;
    }
  }
}
