@import "../../styles/utils.scss";

.error {
  @extend %flex-row-center;
  flex-flow: column nowrap;
  font-size: 24px;

  &__link {
    color: $color-green;

    &:hover {
      text-decoration: underline;
    }
  }
}
