@import "../../styles/vars.scss";

.error {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;

  &__text {
    font-size: 30px;
    font-weight: 500;
  }
  &__link {
    font-size: 24px;
    color: $c-green;

    &:hover {
      text-decoration: undeline;
    }
  }
}