.card {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  box-sizing: border-box;
  height: 160px;

  line-height: 21px;
  border: 1px solid #e0e0e0;

  overflow: hidden;

  &__img {
    width: 50%;
  }

  &__description {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 16px;
    min-width: 50%;

    &-wrapper {
      overflow: hidden;
      max-height: 90px;
      line-clamp: 4;
    }

    &-info {
      font-size: 14px;
      color: #626262;
      margin-top: 4px;

    }
  }
}
