@import "variables";

header {
  box-shadow: 0 0 16px rgba(38, 38, 38, 0.16);
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 999999;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: $size-16;
  color: $black-color;
  min-height: 80px;

  padding: 0 $padding-container;
  max-width: 1400px;
  margin: 0 auto;

  * {
    box-sizing: border-box;
  }

  &-svg {
    position: absolute;
    width: $width-svg;
    left: $padding-left-right;
    z-index: 100;
  }

  &-logo {
    width: 120px;
    display: flex;
  }

  &-location-and-time {
    display: flex;
    align-items: center;
  }

  &-location {
    &__svg {
      width: 19px;
      margin-right: 13px;
      top: 17%;
    }

    &__city {
      display: flex;
      align-items: center;
      font-size: $size-16;
      position: relative;
      padding: $padding-top-bottom $padding-left-right $padding-top-bottom $padding-left-right+$width-svg+$margin-svg;

      &--hidden {
        display: none;
      }

      &--btn {
        background: transparent;
        border: none;
      }

      &--form {
        flex: 1;
        max-width: 540px;
        background-color: $input-color;
      }

      &-choice {
        background-color: $input-color;
        flex: 1;
        padding: 0;
        border: 0;
      }

      &-clear {
        color: $gray-input-color;
        background-color: $input-color;
      }

      &-close {
        padding-left: $padding-btn-close;
        background-color: $input-color;
        border-left: 1px solid $border-btn;
      }
    }

  }

  &-time {
    padding: 0 $padding-left-right;

    &__deliver {
      display: flex;
      align-items: center;
      position: relative;

      &-clock {
        width: $width-svg;
        left: $padding-left-right;
        position: absolute;
        z-index: 1;
      }

      &-choice {
        height: 36px;
        padding: $padding-top-bottom $padding-left-right $padding-top-bottom $padding-left-right + $width-svg + $margin-svg;
        border: 0;
        border-bottom: 2px solid transparent;
        background: #fff;
        font-size: $size-16;
        -webkit-appearance: none;
        font-family: Roboto, sans-serif;
        cursor: pointer;

        &:focus,
        &:hover {
          background-color: $input-color;
          border-bottom: 2px solid;
        }

      }

      &:focus {
        background-color: $input-color;

      }
    }
  }

  &__action {
    display: flex;
    align-items: center;

    &-registration {
      color: $black-color;
      font-size: $size-16;
    }
  }
}

@media screen and (max-width: 1024px) {
  .header-location-and-time {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .header__action-filter {
    display: none;
  }
}
