body,
a,
button,
input {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

*,
::before,
::after {
  box-sizing: border-box;
}

.width {

  &--header {
    position: sticky;
    top: 0;
    background-color: #fff;
  }

  &--footer {
    background-color: #262626;
  }
}
