@import "utils";

*,
::after,
::before {
  box-sizing: border-box;
}

body,
button,
a,
select,
input {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  outline: none;
}

input {
  border: none;
  background: transparent;
  outline: none;
}

.content {
  max-width: 1160px;
  padding: 0 34px;
  margin: 0 auto;

  @media (max-width: $breakpoint-phone) {
    padding: 0 20px;
  }

  @media (min-width: $breakpoint-large) {
    max-width: 1520px;
  }
}
