@import './variables.scss';

*,
::after,
::before {
  box-sizing: border-box;
}

body,
button,
a,
select,
input {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

input {
  border: none;
  outline: none;

  padding: 0;

  background: transparent;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  outline: none;
}

.content {
  max-width: 1160px;
  padding: 0 37px;
  margin: 0 auto;

  @media (max-width: $break-point-phone) {
    padding: 0 20px;
  }

  @media (min-width: $break-point-lg) {
    max-width: 1520px;
  }
}