@import "./vars.scss";

*,
::before,
::after {
  box-sizing: border-box;
}

button,
body,
a,
input,
select {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  outline: none;
}

input {
  border: none;
  background: transparent;
  outline: none;
  line-height: 1;
}

.content {
  max-width: 1160px;
  padding: 0 34px;
  margin: 0 auto;

  @media (max-width: $break-point-mobile) {
    padding: 0 20px;
  }
  @media (min-width: $break-point-large) {
    max-width: 1520px;
  }
}
