*,
::after,
::before {
  box-sizing: border-box;
}

body,
button,
a,
input {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.content {
  max-width: 1160px;
  padding: 0 34px;
  margin: 0 auto;
}
