body,
h2,
p,
ul,
li {
  margin: 0;
  line-height: 0;
  padding: 0;
}

link {
  cursor: pointer;
}

body,
button,
a,
input {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
