@import "variables";

.main {
  max-width: 1400px;
  margin: 0 auto;
  padding-top: $padding-header+$margin-header+$header-content;
  padding-bottom: 82px;

  &__header {
    display: none;

    &-description {
      display: none;
    }
  }

  &__location {
    display: none;
  }

  &__filter {
    display: none;
  }
}

.stores {
  display: grid;
  grid: auto-flow/repeat(4, 1fr);
  grid-gap: 40px 20px;
}

@media screen and (max-width: 1224px) {
  .stores {
    grid: auto-flow/repeat(3, 1fr);
  }

}

@media screen and (max-width: 1024px) {
  .main {
    &__header {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: flex-end;
      padding: $padding-top-bottom 0 $margin-main-title;

      &-description {
        display: block;
        color: $color-span;
      }
    }

    &__location {
      display: block;
      text-transform: capitalize;
      font-size: 20px;
      color: $main-title;
      margin: $margin-main-title 0;
    }
  }

  .header {
    &__svg--time {
      left: 16px;
    }

    &__time {
      padding: 10px 0;
    }
  }

  .stores {
    grid: auto-flow/repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .main__header {
    align-items: start;
    flex-direction: column;
  }

  .header__form {
    width: 100%;
    margin-bottom: 6px;
  }

  .header__location-city-choice {
    &:focus {
      width: 100%;
    }
  }

  .header__time-deliver-choice {
    padding-left: 38px;
  }

  .header__svg--time {
    left: 12px;
  }
}

@media screen and (max-width: 480px) {
  .stores {
    grid: auto-flow/repeat(1, 1fr);
  }

  .main__filter {
    display: block;
    margin-bottom: 6px;
  }
}
