$normalFontSize: 16px;
$smallFontSize: 14px;
$c-black: #0000;
$c-white: #fff;
$c-darkGrayText: #1f1f1f;
$c-darkGrayBackground: #262626;
$c-gray: #979797;
$c-font-lightgray:#757575;
$c-lightGray: #e0e0e0;
$c-lightGrayBackground: #f5f5f5;
$c-grayFooter: #c4c4c4;
$c-green: #247a00;
$c-red: #d13434;
$styleDistance: 40px;
$cardHeight: 367px;
$cardHeightMobile: 330px;
$breakpointTabletL: 960px;
$breakpointTabletM: 768px;
$breakpointMobile: 425px;
$breakpointMobileL: 620px;
