$padding-left: 81px;
$padding-btn-close: 16px;
$padding-left-right: 16px;
$padding-top-bottom: 8px;
$width-svg: 22px;
$margin-svg: 12px;
$size-16: 16px;
$black-color: #000;
$input-color: #f5f5f5;
$gray-input-color: #757575;
$border-btn-close: #e0e0e0;
