$normalFontSize: 16px;
$smallFontSize: 14px;
$c-white: #fff;
$c-darkGrayText: #1f1f1f;
$c-darkGrayBackground: #262626;
$c-gray: #979797;
$c-lightGray: #e0e0e0;
$c-grayFooter: #c4c4c4;
$styleDistance: 40px;
$cardHeight: 367px;
