$color-green: #5fb709;
$color-gray: #e0e0e0;
$color-dark-gray: #262626;

$icon-block-size: 40px;

$break-point-large: 1281px;
$break-point-small: 1000px;
$break-point-tablet-lg: 956px;
$break-point-tablet: 768px;
$break-point-phone-lg: 620px;
$break-point-phone: 550px;
