$c-green: #5fb709;
$color-grey: #e0e0e0;
$color-dark-grey: #626262;
$color-dark: #1d1d1d;

$break-point-large: 1281px;
$break-point-tablet-lg: 956px;
$break-point-tablet: 768px;
$break-point-mobile-lg: 620px;
$break-point-mobile: 550px;
