$color-green: #5eb707;
$color-gray: #e0e0e0;

$breakpoint-large: 1281px;
$breakpoint-tablet-lg: 956px;
$breakpoint-tablet: 768px;
$breakpoint-phone-lg: 620px;
$breakpoint-phone: 550px;
$breakpoint-phone-small: 380px;
$breakpoint-notebook-hd: 1600px;
