@media (max-width: 1440px) {
  .container {
    width: 1024px; }

  .catalog__row {
    grid-template-columns: repeat(3, 329px); }

  #boxWrapper {
    left: calc((100vw - 1024px) / 2); } }
@media (max-width: 1024px) {
  .container {
    width: 768px; }

  #boxWrapper {
    left: calc((100vw - 680px) / 2); }

  .header {
    padding-bottom: 120px;
    padding-left: 50px;
    padding-right: 50px; }

  .catalog__row {
    grid-template-columns: repeat(2, 329px);
    grid-column-gap: 19px; }
    .catalog__row-block {
      padding: 0 0 110px 12px; }

  .header__wrapper {
    padding: 30px 16px 0;
    position: relative; }
    .header__wrapper__add--info {
      position: absolute;
      top: 100px;
      flex-direction: column;
      align-items: start; }
      .header__wrapper__add--info .location__city {
        display: flex;
        margin-bottom: 10px;
        margin-right: 0; }
    .header__wrapper__logo--link {
      margin-right: 230px; }

  .header__wrapper .search-sign .search {
    position: absolute;
    top: 64px;
    right: 0;
    padding: 0 16px;
    margin-right: 0; }
  .header__wrapper .search-sign .sign a {
    background-color: #f5f5f5;
    padding: 12px; } }
@media (max-width: 768px) {
  .container {
    width: 320px; }

  #boxWrapper {
    left: calc((100vw - 320px) / 2); }

  .catalog__row {
    grid-template-columns: repeat(1, 329px);
    grid-column-gap: 0; }
    .catalog__row-block {
      padding: 0 0 110px 12px; }

  .header {
    padding: 0 20px 120px 20px; }

  .catalog__row-block {
    padding-left: 0; }

  .header__wrapper__add--info {
    top: 110px; }
    .header__wrapper__add--info .location__city {
      display: flex;
      margin-bottom: 10px;
      margin-right: 0; }
  .header__wrapper .search-sign .search {
    display: none;
    position: absolute;
    top: 64px;
    left: 0;
    margin-right: 0; }
  .header__wrapper .search-sign .sign a {
    position: relative; }
  .header__wrapper .search-sign--field {
    position: absolute;
    top: 80px;
    left: 20px;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000;
    font-size: 16px;
    line-height: 24px;
    color: #626262;
    mix-blend-mode: normal;
    opacity: 0.5;
    border-width: 0;
    border: none;
    outline: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 60px;
    border-width: 0;
    outline: none;
    background: #fff;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000; }
    .header__wrapper .search-sign--field::before {
      display: inline-block;
      margin-right: 13px;
      content: "";
      height: 24px;
      width: 24px;
      background: url("https://githubfordmitry.github.io/react_uber-eats/api/img/icons/search.png") no-repeat center; }
    .header__wrapper .search-sign--field::after {
      content: "";
      display: block;
      position: absolute;
      top: 10px;
      width: 200px;
      height: 10px;
      background-color: #626262; }

  .footer .site-map {
    flex-direction: column; }
    .footer .site-map__cell {
      margin-bottom: 23px; }
      .footer .site-map__cell--language {
        display: none; }

  .footer .site-map__cell ul li:last-child .site-map__cell-link {
    margin-bottom: 23px; } }
@media (max-width: 320px) {
  .container {
    width: 90%; } }
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 34px; }

.catalog {
  display: block;
  margin-bottom: 100px; }
  .catalog__title {
    display: block;
    margin-bottom: 16px;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    line-height: 34px;
    color: #1d1d1d; }
  .catalog__row {
    display: grid;
    grid-template-columns: repeat(4, 329px);
    grid-column-gap: 19px;
    grid-row-gap: 1px;
    justify-content: center; }
  .catalog__delivery {
    display: flex;
    align-items: flex-end;
    margin-top: 8px;
    flex-direction: row;
    line-height: 20px; }
    .catalog__delivery .rating {
      display: flex;
      align-items: center;
      padding: 2px 8px;
      background-color: #f5f5f5;
      color: #1d1d1d; }
      .catalog__delivery .rating__votes {
        color: #757575; }
      .catalog__delivery .rating__img {
        width: 20px;
        height: 20px; }
    .catalog__delivery .time {
      display: flex;
      align-items: center;
      color: #1d1d1d;
      background-color: #f5f5f5;
      padding: 2px 8px;
      margin-right: 8px;
      line-height: 20px; }

.catalog__row-block {
  position: relative;
  padding-bottom: 110px;
  margin-bottom: 16px;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  transition: 0.3s all linear; }
  .catalog__row-block--link {
    display: block;
    position: relative;
    padding-bottom: 78%;
    width: 100%; }
    .catalog__row-block--link--img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      object-fit: cover; }
    .catalog__row-block--link::before {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 2;
      display: block;
      content: '';
      width: 0;
      height: 0;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 100%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      opacity: 0; }
    .catalog__row-block--link:hover::before {
      -webkit-animation: circle .75s;
      animation: circle .75s; }
@-webkit-keyframes circle {
  0% {
    opacity: 1; }
  40% {
    opacity: 1; }
  100% {
    width: 100%;
    height: 100%;
    opacity: 0; } }
@keyframes circle {
  0% {
    opacity: 1; }
  40% {
    opacity: 1; }
  100% {
    width: 255px;
    height: 255px;
    opacity: 0; } }
  .catalog__row-block--wrapper {
    position: absolute;
    top: 100%;
    width: 100%;
    padding: 16px 0 20px;
    box-sizing: border-box;
    background: rgba(117, 117, 117, 0.02);
    mix-blend-mode: normal; }
    .catalog__row-block--wrapper .restaurant-table {
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      line-height: 24px;
      color: #1d1d1d; }
    .catalog__row-block--wrapper .catalog-items {
      display: inline-block;
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      line-height: 24px; }
      .catalog__row-block--wrapper .catalog-items ul {
        display: inline-block;
        width: 345px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
        .catalog__row-block--wrapper .catalog-items ul .catalog-items__snack {
          display: inline-block;
          justify-content: start;
          flex-direction: row;
          font-family: "Roboto", sans-serif;
          font-size: 14px;
          line-height: 21px;
          align-items: center;
          color: #626262;
          list-style: none;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
          .catalog__row-block--wrapper .catalog-items ul .catalog-items__snack:not(:first-child)::before {
            content: "";
            display: inline-block;
            justify-content: center;
            align-items: center;
            margin: 0 5px;
            background-color: #626262;
            width: 5px;
            height: 5px;
            border-radius: 50%; }
      .catalog__row-block--wrapper .catalog-items .currency {
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        line-height: 21px;
        color: #626262; }

/*# sourceMappingURL=Main.css.map */
