@import "../../styles/utils";

.select {

  position: relative;

  &__input {
    -moz-appearance: none;
    -webkit-appearance: none;

    color: #fff;

    padding: 10px 40px;

    background-color: transparent;
    border: 1px solid #979797;
    border-radius: 0;
    cursor: pointer;
  }

  &__option {
    background-color: $color-dark-gray;
  }

  &__icon {
    position: absolute;
    top: 12px;
    left: 10px;

    width: 20px;
    height: 20px;
  }

  &__arrow {
    position: absolute;
    top: 20px;
    right: 12px;

    width: 14px;
    height: 8px;
  }
}
