.select {
  position: relative;

  &__input {
    -moz-appearance: none;
    -webkit-appearance: none;
  
    width: 164px;
    height: 40px;

    background-color: transparent;
    border: 1px solid #979797;
    border-radius: 0;
    color: #fff;
    padding: 8px 40px;
    cursor: pointer;
  }
  &__icon {
    width: 20px;
    height: 20px;

    position: absolute;
    top: 10px;
    left: 10px;
  }
  &__arrow {
    width: 14px;
    height: 8px;

    position: absolute;
    top: 17px;
    right: 10px;
  }
}
