.select {

  position: relative;

  &__input {
    -moz-appearance: none;
    -webkit-appearance: none;

    border: 1px solid #979797;
    padding: 10px 40px;

    color: #fff;
    cursor: pointer;
    background: #262626;
  }

  &__icon {
    position: absolute;
    top: 13px;
    left: 10px;
    width: 20px;
    height: 20px;
  }

  &__arrow {
    position: absolute;
    top: 19px;
    right: 10px;
    width: 14px;
    height: 8px;
  }
}


