.CartChangeCount {
  margin-top: 0.5rem;
  display: flex;
  width: 5rem;
  justify-content: space-between;
  height: 1.2rem;
  align-items: center;

  &__Button {
    border: 0;
    outline: 0;
    background-color: rgb(150, 148, 148);
    border-radius: 1rem;
    color: #fff;
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    transition: all 0.3s;
    &:hover {
      background-color: rgb(172, 169, 169);
    }

    &:disabled {
      opacity: 0.6;
      cursor: default;
      background-color: rgb(150, 148, 148);
    }
  }
}
