@import '../../styles/utils.scss';

.option {
  height: 48px;

  display: flex;
  align-items: center;

  &__checkbox {
    display: flex;

    &-title {
      display: flex;
      position: relative;

      font-size: 12px;
      line-height: 21px;

      &::before {
        content: "";
        display: inline-block;

        height: 22px;
        width: 22px;

        margin-right: 14px;

        border: 1px solid #d3d3d3;
      }

      &::after {
        content: "";
        display: inline-block;
        height: 8px;
        width: 12px;

        position: absolute;
        left: 5px;
        top: 4px;

        border-left: 2px solid #fff;
        border-bottom: 2px solid #fff;

        transform: rotate(-45deg);
      }
    }

    &-input {
      opacity: 0;

      -moz-appearance: none;
      -webkit-appearance: none;
    }

    &-input + &-title::after {
      content: none;
    }

    &-input:checked + &-title::after {
      content: "";
    }

    &-input:checked + &-title::before {
      background: $color-green;
    }

    &-input:focus + &-title::before {
      outline: $color-green auto 5px;
    }
  }

}
