.restaurant {
  max-width: 1920px;
  margin: 0 auto;

  &__width {
    padding: 0 4%;
  }

  &__image {
    display: flex;
    align-items: center;
    height: 380px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (max-width: 1050px) {
      justify-content: center;
      align-items: flex-end;
    }
  }

  &__nav {
    margin-top: 30px;

    @media screen and (max-width: 1050px) {
      margin-top: 70px;
    }
  }

  &__menu {
    margin: 40px 0;
    padding-bottom: 1px;
  }
}
