@import "../../styles/vars.scss";

.restaurant-page {
  margin-top: -40px;

  &__top-part {
    height: 380px;

    position: relative;
  }

  &__img-wrapper {
    height: 380px;
    width: 100%;
    overflow: hidden;

    @media (max-width: $break-point-mobile) {
      height: 256px;
    }
  }

  &__main-img {
    width: 100%;
  }

  &__rest-details {
    width: 590px;
    padding: 24px  40px 24px 95px;

    background-color: #fff;

    position: absolute;
    left: 0;
    bottom: 50%;
    transform: translateY(50%);

    @media (max-width: $break-point-tablet) {
      left: 50%;
      bottom: -20%;
      transform: translateX(-50%);
    }

    @media (max-width: $break-point-mobile) {
      width: 280px;
      padding: 20px;
      bottom: -5%;
    }

    @media (min-width: $break-point-large) {
      width: 757px;
      padding-left: 264px;
    }
  }

  &__main-title {
    font-size: 36px;
    margin-bottom: 16px;

    @media (max-width: $break-point-tablet) {
      font-size: 28px;
    }
  }

  &__description {
    margin-bottom: 16px;
    color: #757575;
  }

  &__time {
    width: 86px;
    height: 24px;
    background-color: #f5f5f5;
    margin-bottom: 16px;
    text-align: center;
  }

  &__location {
    display: block;

    @media (max-width: $break-point-tablet) {
      left: 50%;
      transform: translateX(-50%);
      display: none;
    }
  }

  &__navigation-wrapper {
    position: sticky;
    top: -60px;
    height: 140px;
    padding-top: 90px;
    background-color: #fff;
    z-index: 1;
  }

  &__navigation {
    display: flex;
    overflow: auto;
    white-space: nowrap;

    z-index: 1;
    background-color: #fff;
  }

  &__navigation-link {
    color: #000;
    text-align: center;
    display: inline-block;
    height: 40px;
    position: relative;
    margin-right: 24px;

    transition: color 0.3s;

    text-transform: capitalize;

    &:hover{
      color: $color-green;
    }

    &:hover::after {
      content: '';
      position: absolute;
      height: 1px;
      width: 100%;
      background-color: #000;
      bottom: 0;
      left: 0;

      animation: hover-animation 0.3s;
    }
  }
}

@keyframes hover-animation {
  0% {
    width: 0%;
  }
  25% {
    width: 25%;
  }
  50% {
    width: 50%;
  }
  75% {
    width: 75%;
  }
  100% {
    width: 100%;
  }
}
