$screen-min: 320px;
$screen-extra-small: 600px;
$screen-small: 768px;
$screen-medium: 1024px;
$screen-max: 1136px;
$screen-large: 1280px;
$screen-full-hd: 1452px;

$container-width-screen-large: 1084px;
$container-width-screen-small: 700px;
$container-width-screen-extra-small: 280px;
