.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.7);

  &__container {
    padding-right: 30px;
    padding-left: 30px;
  }

  &__content {
    position: relative;
    margin: 80px auto;
    width: 716px;
    border-top: 1px solid transparent;
    background-color: #fff;
  }

  &__close {
    position: absolute;
    top: 25px;
    right: 25px;
  }

  &__img {
    width: 100%;
    height: 370px;
    margin-top: -1px;
    object-fit: cover;
  }

  &__title {
    margin-top: 30px;
    font-size: 30px;
    font-weight: 500;
  }

  &__description {
    margin-bottom: 30px;
    font-size: 14px;
    color: #626262;
  }
}
