@mixin family {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000;
}

@mixin image($icon) {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 60px;
  border-width: 0;
  outline: none;
  background: #fff;
  cursor: pointer;
  @include family;
  &::before {
    display: inline-block;
    margin-right: 13px;
    content: "";
    height: 24px;
    width: 24px;
    background: url($icon) no-repeat center;
  }
}

.header {
  display: block;
  padding: 30px;
  &__wrapper {
    display: flex;
    justify-content: start;
    flex-direction: row;
    width: 1453px;
    margin: 0 auto;
    &__logo--link {
      margin-right: 155px;
    }
    &__add--info {
      display: flex;
      flex-direction: row;
      & .location {

        &__city {
          @include image("https://githubfordmitry.github.io/react_uber-eats/api/img/icons/location.png");
        }
      }
      & .delivery {
        flex-direction: row;
        align-items: center;
        &__time {
          @include image("https://githubfordmitry.github.io/react_uber-eats/api/img/icons/delivery.png");
        }

      }
    }
    & .search-sign {
      display: flex;
      margin-left: auto;
      align-items: center;
      & .search {
        @include image("https://githubfordmitry.github.io/react_uber-eats/api/img/icons/search.png");
      }
      & .sign a {
        @include family;
        color: #000;
        font-size: 16px;
        line-height: 19px;
        text-decoration: none;
      }
    }
  }
}
