.header {
  position: sticky;
  top: 0;

  padding: 16px 0;
  background-color: #fff;

  &__logo {
    @media (max-width: 480px) {
      height: 16px;
      width: 95px;
    }
  }

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__delivery-info {
    display: flex;
    flex-direction: row;
    align-items: center;

    @media (max-width: 768px) {
      display: none;
    }

    &-mobile {
      padding-top: 40px;
      width: 100%;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    & > div:first-child {
      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  &__link {
    margin-left: 20px;
    color: #1f1f1f;
  }

  &__buttons {
    display: none;

    @media (max-width: 768px) {
      display: flex;
    }
  }
}

.buttons {
  &__btn {
    display: flex;
    align-items: center;
    cursor: pointer;

    padding: 5px 7px;
    border-radius: 100%;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: #5fb709;
    }

    &:not(:last-of-type) {
      margin-right: 20px;
    }

    & > img {
      height: 17px;
      width: 14px;
    }
  }

  &__close {
    position: absolute;
    top: 5px;
    right: 30px;
  }
}

.input__wrapper {
  display: flex;
}

.input-container:last-child {
  width: 100%;
}

.input-container__text {
  font-size: 14px;
  line-height: 16px;
  color: #626262;

  margin-bottom: 8px;
}
