@import "../../../src/style/mixin-var";
@import "../../../src/style/media";

.header {
  display: block;
  &__wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
    padding: 28px 0 60px;
    &__logo--link {
      margin-right: 320px;
    }
    &__add--info {
      display: flex;
      flex-direction: row;
      align-items: center;
      & .location {

        &__city {
          @include image("https://githubfordmitry.github.io/react_uber-eats/api/img/icons/location.png");
        }
      }
      & .delivery {
        flex-direction: row;
        align-items: center;
        &__time {
          @include image("https://githubfordmitry.github.io/react_uber-eats/api/img/icons/delivery.png");
        }

      }
    }
    & .search-sign {
      display: flex;
      margin-left: auto;
      align-items: center;
      & .search {
        @include image("https://githubfordmitry.github.io/react_uber-eats/api/img/icons/search.png");
      }
      & .sign a {
        @include family;
        color: #000;
        font-size: 16px;
        line-height: 19px;
        text-decoration: none;
      }
      &--field {
        display: none;
      }
    }
  }
}

#boxWrapper {
  visibility:hidden;
  position: absolute;
  top: 32px;
  left: calc((100vw - 1380px) / 2);
}

#boxWrapper div {
  @include family;
  display:inline-block;
  font-size:44px;
  font-weight: 600;
  color: #59bd5a;
  text-align:center;
  -webkit-font-smoothing:antialiased;
  /* we apply a 3d transform just to improve rendering */
  -webkit-transform:translateZ(0.1px);
  -moz-transform:translateZ(0.1px);
  -o-transform:translateZ(0.1px);
  -ms-transform:translateZ(0.1px);
  transform:translateZ(0.1px);

}

#boxWrapper .boxBlack {
  color: #1d1d1d;
}
