$text-color: #626262;
$main-text-color: #1F1F1F;
$scale-tanform: scale(1.2);
$register-btn-color: #262626;
$sing-in-btn-color: #E0E0E0;

.header {
  margin-bottom: 32px;
  height: 80px;

  &__wrapper {
    height: 100%;
    padding: 0 80px;
    margin: 0 auto;
    max-width: 1980px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
  }

  &__logo-and-delivery {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: 60px;
  }

  &__delivery {
    display: flex;
    align-items: center;
  }

  &__input-wrapper,
  &__input-wrapper-loc {
    box-sizing: border-box;
    display: flex;
    padding-right: 16px;
    background-color: #F5F5F5 !important;
    border-bottom: 2px solid #000;
    box-shadow: rgb(224, 224, 224) 0px -1px 0px inset;
  }

  &__input-wrapper{
    margin-left: auto;
  }

  &__location {
    padding-left: 46px;
  }

  &__location-input {
    width: 100px;
    background-color: rgba(255, 255, 255, 0) !important;
    transition: width .2s linear;
  }

  &__location-input:focus {
    width: 200px;
  }

  &__location-clear-btn {
    background-color: rgba(255, 255, 255, 0) !important;
    color: #757575;
  }

  &__location-input,
  &__location-btn {
    background-image: url("../image/location.svg");
    background-position: left 20px top 15px;
    background-repeat: no-repeat;
    background-size: 14px;

    outline: none;
  }

  &__location,
  &__delivery-time,
  &__search-input,
  &__search-btn,
  &__sign-in {
    height: 48px;
  }

  &__delivery-time {
    margin-left: 40px;

    padding-left: 46px;

    background-image: url("../image/clock.svg");
    background-position: left 16px top 14px;
    background-repeat: no-repeat;
    background-size: 18px;

    appearance: none;
  }

  &__delivery-time,
  &__location-btn,
  &__location-input,
  &__location-clear-btn,
  &__search-btn,
  &__search-input {
    background-color: #fff;
    border: none;

    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    box-sizing: border-box;
    cursor: pointer;
  }

  &__search-and-sign-in {
    display: flex;
    align-items: center;
  }

  &__search-input,
  &__search-btn {
    padding-left: 46px;
    margin-left: auto;
    background-image: url("../image/loop.svg");
    background-position: left 16px top 15px;
    background-repeat: no-repeat;
    background-size: 18px;

    outline: none;
  }

  &__search-input {
    width: 50px;
    background-color: #F5F5F5 !important;
    box-shadow: rgb(224, 224, 224) 0px -1px 0px inset;
    transition: width .2s;
  }

  &__search-input:focus {
    width: 240px;
  }

  &__sign-in {
    margin-left: 40px;
    text-decoration: none;
    color: #1F1F1F;
    line-height: 48px;
  }
}

.search-field {
  display: flex;
  height: 54px;
  margin-bottom: 56px;

  border-bottom: 1px solid 	rgba(117,	117, 117, 0.3)
}

.restaurant-search {
  width: 100%;
  padding-left: 29px;
  font-size: 16px;
  line-height: 24px;
  background-position: left 0 top 16px;
  background-repeat: no-repeat;
  background-size: 22px;
  border: none;
}

.delivery {
  display: flex;
  align-items: center;
  color: $text-color;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;

  &__time {
    height: 40px;
    width: 70px;
    padding-left: 7px;

    color: #1D1D1D;
    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;

    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
  }

  &__span {
    margin: 0 9px;
  }

  &__adress {
    height: 40px;
    max-width: 292px;
    padding: 0 0 0 36px;

    color: #1D1D1D;
    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;

    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 2px;
  }
}
