*,
::after,
::before {
  box-sizing: border-box;
}

body,
button,
input,
a {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

input {
  border: none;
  outline: none;
  background-color: transparent;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 34px;
}
