.main {
  &__for-small-devices {
    margin-bottom: 40px;
    display: none;
  }

  &__search-input {
    display: flex;
    border: none;
    font-size: 13px;
    line-height: 24px;
    padding-left: 30px;
    background: url("../img/search.svg") no-repeat;
  }

  &__alternative-delivety {
    display: flex;
    align-content: center;
  }

  &__delivery-section-one {
    display: flex;
    flex-direction: column;
      &::before {
        content: "When"
      }
  }

  &__delivery-section-two {
    display: flex;
    flex-direction: column;
      &::before {
        content: "To";
        padding-left: 20px;
      }
  }

  &__delivery-section-time {
    width: 80px;
    height: 45px;
      &::before {
        content: "When"
      }
  }

  &__delivery-section-place {
    display: flex;
    align-items: center;
    width: 195px;
    height: 40px;
    margin-left: 20px;
    padding: 0 30px;
    background: url("../img/location.svg") no-repeat;
    background-position: 4px 7px;
      &::before {
        content: "To"
      }
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px 20px;
    justify-items: center;
  }

  &__store {
    text-decoration: none;
    color: black;
    transition: transform 0.4s;
  }

  &__store:hover {
    transform: scale(1.05);
  }

  &__store-info {
    white-space: nowrap;
  }

  &__store-image {
    width: 350px;
    height: 278px;
  }

  &__store-info-title {
    margin-top: 12px;
    font-size: 16px;
    line-height: 19px;
  }

  &__store-info-categories {
    display: flex;
    list-style-type: none;
    width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    line-height: 16px;
    color: #757575;
    margin-top: 4px;
  }

  &__category:not(:first-child) {
    margin-left: 10px;
  }

  &__store-info-details {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 24px;
    margin-top: 4px;
  }

  &__store-info-details-rating {
    display: flex;
    align-items: center;
    margin-left: 10px;
    background-color: #F5F5F5;
  }

  &__store-info-details-open {
    background-color: #F5F5F5;
  }

  &__store-info-details-rating-star {
    display: flex;
    align-items: center;
  }
}
