$text-color: #626262;
$main-text-color: #1F1F1F;

.card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 42px;
  grid-column-gap: 20px;
  justify-content: center;
  margin-bottom: 100px;
}

.card{
  box-sizing: border-box;
  display: block;

  &__picture-wrapper {
    padding-bottom: 80%;
    display: block;
    position: relative;
    overflow: hidden;
  }
  &__link {
    text-decoration: none;
    color: $main-text-color;
  }

  &__picture {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform .3s;
  }

  &__picture:hover {
    transform: scale(1.1);
  }

  &__title {
    margin-top: 12px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
  }

  &__tags {
    color: $text-color;
    font-size: 14px;
  }

  &__range-and-feedback {
    display: flex;;
    align-items: center;
    font-size: 14px;
    line-height: 24px;
  }

  &__range,
  &__feedback {
    height: 24px;
    padding: 2px 8px;
    margin: 8px 8px 0 0;
    background-color: #F5F5F5;
  }

  &__feedback {
    display: flex;
  }

  &__star-img {
    width: 24px;
    height: 24px;
  }
}

.card:hover .card__picture {
  transform: scale(1.1);
}

