@import "../../styles/utils";

.footer {
  padding: 64px 0;
  background-color: #262626;

  @media (max-width: $break-point-tablet) {
    padding: 40px 0;
  }

  &__top-part {
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #c4c4c4;
  }

  &__main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  }

  &__logo-container {
    @extend %flex-row-center;
    margin-bottom: 40px;

    @media (max-width: $break-point-tablet) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__mobile-app {
    display: inline-block;

    @media (max-width: $break-point-tablet) {
      display: block;
      margin-bottom: 20px;
    }

    &:first-of-type {
      margin-right: 20px;
    }
  }

  &__logo {
    margin-right: 40px;

    @media (max-width: $break-point-tablet) {
      margin-bottom: 40px;
    }
  }

  &__top-part,
  &__bottom-part {
    @extend %flex-row-center;
    align-items: flex-start;

    @media (max-width: $break-point-phone-lg) {
      flex-direction: column;
    }
  }

  &__main,
  &__copyright {
    flex-basis: 45vw;
    padding-right: 40px;

    @media (max-width: $break-point-phone-lg) {
      flex-basis: initial;
    }
  }

  &__top-links:last-of-type {
    margin-left: 10vw;

    @media (max-width: $break-point-phone-lg) {
      margin-left: 0;
    }
  }

  &__copyright {
    color: #fff;
    font-size: 14px;

    @media (max-width: $break-point-phone-lg) {
      order: 1;
    }
  }

  &__bottom-links {
    @extend %flex-row-center;

    margin-bottom: 40px;

    @media (max-width: $break-point-phone-lg) {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 20px;
      order: 1;
    }

    .links__link:not(:last-of-type) {
      margin-right: 40px;
    }
  }

  &__misc {
    @media (max-width: $break-point-phone-lg) {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
    }
  }
}

.links {
  &__link {
    display: block;
    margin-bottom: 16px;
    color: #fff;
    white-space: nowrap;

    &:hover {
      text-decoration: underline;
    }
  }
}

.social {
  &__link {
    margin-right: 20px;
  }
}
