@import "../../styles/vars.scss";

.footer {
  background-color: #262626;
  padding: 64px 0;

  @media (max-width: $break-point-tablet) {
    padding: 40px 0;
  }

  &__top-part {
    border-bottom: 1px solid #c4c4c4;
    margin-bottom: 40px;
    padding-bottom: 40px;

    @media (max-width: $break-point-mobile-lg) {
      border-bottom: none;
      margin-bottom: 30px;
      padding-bottom: 0;
    }
  }

  &__main {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
  }

  &__top-part,
  &__bottom-part {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-items: flex-start;

    @media (max-width: $break-point-mobile-lg) {
      flex-direction: column;
    }
  }

  &__logo-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 40px;

    @media (max-width: $break-point-tablet) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__logo {
    margin-right: 40px;

    @media (max-width: $break-point-tablet) {
      margin-bottom: 40px;
    }
  }

  &__mobile-app {
    display: inline-block;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.7;
    }

    &:first-of-type {
      margin-right: 20px;

      @media (max-width: $break-point-tablet) {
        margin-bottom: 20px;
        margin-right: 0;
        margin-bottom: 20px;
      }
    }

    @media (max-width: $break-point-tablet) {
      display: block;
      margin-bottom: 20px;
    }
  }

  &__top-links:last-of-type {
    margin-left: 10vw;

    @media (max-width: $break-point-mobile-lg) {
      margin-left: 0;
    }
  }

  &__main,
  &__copyright {
    flex-basis: 45vw;
    padding-right: 40px;

    @media (max-width: $break-point-mobile-lg) {
      flex-basis: initial;
    }
  }

  &__copyright {
    color: #fff;
    font-size: 14px;

    @media (max-width: $break-point-mobile-lg) {
      order: 1;
    }
  }

  &__bottom-links {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    .links__link:not(:last-of-type) {
      margin-right: 48px;
    }

    @media (max-width: $break-point-mobile-lg) {
      flex-direction: column;
      align-items: flex-start;
      order: 2;
    }
  }
  &__misc {
    @media (max-width: $break-point-mobile-lg) {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
    }
  }
}

.links {
  &__link {
    display: block;
    margin-bottom: 16px;
    color: #fff;
    white-space: nowrap;
    transition: color 0.4s;

    &:hover {
      color: $c-green,
    }
  }
}

.social {
  &__link {
    margin-right: 20px;
    transition: opacity 0.4s;

    &:hover {
      opacity: 0.4;
    }
  }

  @media (max-width: $break-point-mobile-lg) {
    margin-bottom: 35px;
  }
}
