html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 1460px;
  height: 100%;
  margin: 0 auto;
}


.header {
  height: 80px;
  background-color: white;

  &__container {
    display: flex;
    align-items: center;
    margin: 0 auto;
  }

  @mixin buttonWithIcon($icon) {
    display: flex;
    align-items: center;
    border: none;
    background: none;
    font-size: 16px;
    line-height: 19px;
      &::before {
        content: url($icon);
        padding: 0 8px;
      }
  }

  &__button-location {
    margin-left: 60px;
    @include buttonWithIcon("/img/location.svg")
  }

  &__button-delivery-time {
    margin-left: 60px;
    @include buttonWithIcon("/img/delivery.svg")
  }

  &__button-search {
    margin-left: auto;
    @include buttonWithIcon("/img/search.svg")
  }

  &__sign-in {
    margin-left: 40px;
    text-decoration: none;
    color: black;
  }
}

.main {
  &__for-small-devices {
    margin-bottom: 40px;
    display: none;
  }

  &__search-input {
    display: flex;
    border: none;
    font-size: 13px;
    line-height: 24px;
    padding-left: 30px;
    background: url("/img/search.svg") no-repeat;
  }

  &__alternative-delivety {
    display: flex;
    align-content: center;
  }

  &__delivery-section-one {
    display: flex;
    flex-direction: column;
      &::before {
        content: "When"
      }
  }

  &__delivery-section-two {
    display: flex;
    flex-direction: column;
      &::before {
        content: "To";
        padding-left: 20px;
      }
  }

  &__delivery-section-time {
    width: 80px;
    height: 45px;
      &::before {
        content: "When"
      }
  }

  &__delivery-section-place {
    display: flex;
    align-items: center;
    width: 195px;
    height: 40px;
    margin-left: 20px;
    padding: 0 30px;
    background: url("/img/location.svg") no-repeat;
    background-position: 4px 7px;
      &::before {
        content: "To"
      }
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px 20px;
    justify-items: center;
  }

  &__store {
    text-decoration: none;
    color: black;
    transition: transform 0.4s;
  }

  &__store:hover {
    transform: scale(1.05);
  }

  &__store-info {
    white-space: nowrap;
  }

  &__store-image {
    width: 350px;
    height: 278px;
  }

  &__store-info-title {
    margin-top: 12px;
    font-size: 16px;
    line-height: 19px;
  }

  &__store-info-categories {
    display: flex;
    list-style-type: none;
    width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    line-height: 16px;
    color: #757575;
    margin-top: 4px;
  }

  &__category:not(:first-child) {
    margin-left: 10px;
  }

  &__store-info-details {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 24px;
    margin-top: 4px;
  }

  &__store-info-details-rating {
    display: flex;
    align-items: center;
    margin-left: 10px;
    background-color: #F5F5F5;
  }

  &__store-info-details-open {
    background-color: #F5F5F5;
  }

  &__store-info-details-rating-star {
    display: flex;
    align-items: center;
  }
}

.footer {
  background-color: #262626;
  margin-top: 80px;
  padding: 72px 0px 80px;


  &__above-line-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__download {
    display: flex;
  }

  &__download-icon {
    margin-top: 65px;
    height: 40px;
    width: 135px;
    margin-right: 16px;
  }

  &__about-help {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__about {
    display: flex;
    flex-direction: column;
  }

  &__link {
    text-decoration: none;
    color: white;
    font-size: 16px;
    line-height: 19px;

    &:first-child {
      font-weight: 500px;
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__language {
    background: none;
    border: 1px solid #979797;
    width: 175px;
    height: 40px;
    color: white;
    font-size: 16px;
    line-height: 19px;
  }

  &__language-option {
    background-color: #262626;
    width: 175px;
    height: 40px;
    color: white;
    font-size: 16px;
    line-height: 19px;
  }

  &__help {
    display: flex;
    flex-direction: column;

    &:first-child {
      font-weight: 500px;
    }
  }

  &__icon {
    height: 16px;
    width: 16px;
  }

  &__line {
    margin: 40px 0;
  }

  &__under-line-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__trade-mark {
    color: white;
  }

  &__link-policy {
    color: white;
    text-decoration: none;

    &:not(:first-child) {
      margin-left: 48px;
    }
  }

  &__subscribe {
    margin-top: 56px;
  }

  &__social-icon {
    margin-right: 24px;
  }

  &__top-button {
    position: fixed;
    right: 16px;
    bottom: 24px;
  
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
  
    background-color: #59BD5A;
    border-radius: 2px;
  }

  &__top-button-arrow {
    content: url("/img/arrow.svg")
  }
}

@media (max-width: 1280px) {
  .container {
    width: 1090px;
  }

  .main {
    &__container {
      grid-template-columns: 1fr 1fr 1fr;
    }

    &__store {
      transition: transform 0.4s
    }
  }
}

@media (max-width: 1100px) {
  .container {
    width: 720px;
    height: 100%;
    margin: 0 auto;
  }

  .header {
    &__button-location,
    &__button-delivery-time {
      display: none;
    }
  }

  .main {
    &__container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 35px 20px;
    }

    &__store {
      transition: transform 0.4s
    }

    &__for-small-devices {
      display: block;
    }

    &__search-input,
    &__line {
      visibility: hidden;
    }
  }

  .footer {
    &__download {
      display: flex;
      flex-direction: column;
    }

    &__download-icon {
      margin-top: 20px;
    }
  }
}

@media (max-width: 760px) {
  .container {
    width: 390px;
  }

  .header {
    &__button-search {
      display: none;
    }

    &__sign-in {
      margin-left: auto;
    }
  }

  .main {
    &__for-small-devices {
      display: flex;
      flex-direction: column;
    }

    &__search-input {
      visibility: visible;
    }

    &__container {
      grid-template-columns: 1fr;
    }

    &__store {
      transition: transform 0.4s
    }
 }

  .footer {
    &__above-line-info {
      display: flex;
      flex-direction: column;
    }

    &__logo-download {
      margin-bottom: 20px;
    }

    &__about-help {
      display: flex;
      flex-direction: column;
    }

    &__about {
      margin-bottom: 20px;
    }

    &__under-line-info {
      display: flex;
      flex-direction: column-reverse;
    }

    &__policy-subscribe {
      margin-bottom: 30px;
    }

    &__top-button {
      width: 60px;
      height: 60px;
    }
  }
}