@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
/**************************
parameters
***********************/
$main-font-color: #1D1D1D;
$second-font-color: #626262;
$main-font-size: 13px;
$containers-max-width: 956px;
$containers-paddings-for-small-screens: 0 5px;
//End of parameters
body {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}
/*******************************************************************
product
******************************************************/
.main {
  margin-bottom: 68px;
  font-family: 'Roboto', sans-serif;

  &__container {
    max-width: $containers-max-width;
    padding: $containers-paddings-for-small-screens;
    margin: auto;
    box-sizing: border-box;
  }
}

.product-search-delivery {
  $search-height: 40px;

  margin-bottom: 24px;

  &__field {
    border-style: hidden;
    width: 100%;
  }
}

.search_input {
  width: 100%;
  border: 0;
  opacity: 50%;
  line-height: 56px;
  padding-left: 8px;
  position: relative;
}

.search_container {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  line-height: 24px;
  vertical-align: center;
  display: flex;
  align-items: center;
  margin-right: 30px;

  height: 40px;
  width: 80px;
}

.catalog_img {
  height: 278px;
}

.catalog-header{
  margin: 56px 0 14px;
  font-size: 22px;
  font-weight: 400;
  line-height: 34px;
}

.catalog {
  &__container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 32px;
  }
}

.product {
  &__photo {
    display: block;
    img {
      display: block;
      object-fit: cover;
      height: 250px;
      width: 100%;
      margin-bottom: 16px;
    }
  }

  &__name {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  &__categories {
    padding: inherit;
    display: flex;
    font-size: 14px;
    line-height: 21px;
    color: #626262;

    &__item {
      display: flex;
      align-items: center;
      margin-left: 3px;
    }

    &__item:before {
      content: "";
      height: 3px;
      width: 3px;
      background: #626262;
      display: block;
      margin-right: 3px;
    }
  }

  &__details {
    font-size: 13px;
    line-height: 21px;
  }
}

@media (min-width: 640px) {
  .product-search-delivery {
    &__field {
      font-size: 16px;
    }
  }

  .product:nth-last-child(-n+4) {
    display: block;
  }

  .catalog {
    &__container {
      grid-template-columns: 1fr 1fr;
      column-gap: 15px;
    }
  }
}

@media (min-width: 1023px) {
  .catalog {
    &__container {
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 15px;
    }
  }
}

$header-height: 72px;
$header-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
$logo-max-width: 115px;
$logo-min-width: 105px;

/**************************
parameters
***********************/
body {
  margin: 0 auto;
  font-family: Roboto, sans-serif;
}

/*******************************************************************
product
******************************************************/
.main {
  margin-bottom: 68px;
}
.main__container {
  max-width: 956px;
  padding: 0 5px;
  margin: auto;
  box-sizing: border-box;
}

.product-search-delivery {
  margin-bottom: 24px;
}
.product-search-delivery .search_container {
  font-family: Roboto, sans-serif;
  font-size: 13px;
  line-height: 24px;
  vertical-align: center;
  border-bottom: 1px solid #757575;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.product-search-delivery .search_input {
  width: 100%;
  border: 0;
  opacity: 50%;
  line-height: 56px;
  padding-left: 8px;
  position: relative;
}
.product-search-delivery__field {
  border-style: hidden;
  width: 100%;
}

.catalog-header {
  margin: 56px 0 14px;
  font-size: 22px;
  font-weight: 400;
  line-height: 34px;
}

.catalog__container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 32px;
}

.catalog_container {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 35px;
}

.product__photo {
  display: block;
  overflow: hidden;
  margin: auto;
  position: relative;
}
.product__photo img {
  display: block;
  object-fit: cover;
  height: 100%;
  max-width: 100%;
  margin-bottom: 0;
  transform: scale(1);
  transition: all 0.3s;
}
.product__photo:hover img {
  transform: scale(1.1);
  transition: all 0.3s;
}
.product__name {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.product__categories {
  padding: inherit;
  display: flex;
  font-size: 14px;
  line-height: 21px;
  color: #626262;
}
.product__categories__item {
  display: flex;
  align-items: center;
  margin-left: 3px;
}
.product__categories__item:before {
  content: "";
  height: 3px;
  width: 3px;
  background: #626262;
  display: block;
  border-radius: 2px;
  margin-right: 3px;
}
.product__details {
  font-size: 13px;
  line-height: 21px;
}

@media (min-width: 640px) {
  .product-search-delivery__field {
    font-size: 16px;
  }

  .product:nth-last-child(-n+4) {
    display: block;
  }

  .catalog__container {
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
  }
}
@media (min-width: 1023px) {
  .catalog__container {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
  }
}

// _________________________________________________
// header
// __________________________________________________
.is__Visible__now {
  opacity: 0.2;
  position: relative;
}

.product__information__close {
  position: absolute;
}

.product__categories__rating {
  display: flex;
  justify-content: start;
  align-items: center;
}
