
.footer {
  padding: 56px 81px 40px;
  background: #262626;
}
.footer__container {
  margin: auto;
  // max-width: 956px;
  padding: 0 5px;
  position: relative;
  width: 95%;
}
.footer__logo {
  margin-bottom: 40px;
}
.footer__logo__img_logo {
  margin-right: 7px;
}
.footer__nav {
  display: grid;
  grid-template: 1fr/1fr 1fr 1fr;
  padding: 32px 0 48px;
}
.footer__dropdown {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  width: 65px;
}
.footer__lang_drop {
  background: #3b3b3b;
  border-radius: 2px;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  width: 173px;
  margin-bottom: 32px;
}
.footer__lang_drop-title {
  color: white;
  font-size: 13px;
  line-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
}
.footer__dropdown-content {
  display: none;
  position: absolute;
  background-color: #1d1919;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}
.footer__dropdown-content_list {
  margin: 0;
  list-style: none;
  padding: 0;
}
.footer__dropdown-content_list-item {
  text-align: left;
  font-size: 13px;
  line-height: 24px;
  padding: 8px 24px;
}
.footer__nav-name {
  margin-top: 33px;
  font-size: 16px;
  font-weight: normal;
  line-height: 19px;
  color: #fff;
}
.footer__nav-name-hash {
  color: #49a144;
}
.footer__nav-social {
  display: flex;
  justify-content: space-between;
  width: 92px;
  margin-top: 17px;
}
.footer__nav .column-2 .link, .footer__nav .column-3 .link {
  font-size: 13px;
  font-weight: normal;
  line-height: 15px;
  color: #fff;
}

.footer__nav .link:hover {
  color: rgb(204, 187, 187);
}
.footer__nav .column-2 .link + .link, .footer__nav .column-3 .link + .link {
  margin-top: 23px;
}
.footer__app {
  display: flex;
  justify-content: center;
  margin: 41px 0 39px;
}
.footer__app .gplay {
  margin-left: 40px;
}
.footer__rights {
  display: grid;
  // grid-template: 1fr/repeat(3, 1fr);
  margin-top: 40px;
  font-size: 11px;
  font-weight: normal;
  line-height: 13px;
  color: #fff;
}
.footer__rights .link {
  color: #fff;
}

.footer__dropdown:hover .footer__dropdown-content {
  display: block;
}

.dropdown_link {
  text-decoration: none;
  color: #ffffff;
  font-family: 'Times New Roman', Times, serif;
  font-size: 14px;
}

.link {
  text-decoration: none;
  margin: auto 0;
  display: block;
  transition: all 500ms ease 0s;
}

.link:hover {
  background: #262626;
  color: #fff;
  cursor: pointer;
  transition: all 500ms ease 0s;
}

button[type=reset] {
  position: absolute;
  top: 10px;
  bottom: 10px;
  right: 10px;
  color: #e0e0e0;
  border: 0;
  display: none;
  padding: 0 10px;
  border-radius: 50%;
  background-color: #fff;
  transition: background 200ms;
  outline: none;
  font-size: 30px;
  cursor: pointer;
}

.gplay {
  height: 40px;
}

button[type=reset]:hover {
  background-color: #e0e0e0;
}

input:valid ~ button[type=reset] {
  display: block;
}

input[class=main-content__search-form] {
  font-size: 18px;
  color: black;
}

.hr {
  width: 100%;
  background: #fff;
  opacity: 0.4;
}

.arrow-to-top {
  background: #59bd5a;
  border-radius: 2px;
  height: 64px;
  width: 64px;
  position: absolute;
  bottom: 0;
  right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1023px) {
  .footer {
    padding: 55px 8px 40px 8px;
  }

  .footer__nav {
    margin-bottom: 51px;
  }

  .footer__nav-lang-input {
    -webkit-appearance: none;
    width: 176px;
  }

  .footer__nav-social {
    width: 96px;
    margin-top: 15px;
  }

  .arrow-to-top {
    right: 16px;
    bottom: 25px;
  }

  .product__hiden_details {
    display: none;
  }
}
@media (max-width: 639px) {
  .footer__nav {
    grid: auto-flow/1fr;
    margin-bottom: 40px;
    padding-bottom: 0;
  }

  .footer .column-2 {
    margin-top: 39px;
  }

  .footer .column-3 {
    margin-top: 23px;
  }

  .footer__app {
    margin: 24px 0;
  }

  .footer__app .gplay {
    margin-left: 24px;
  }

  .footer__rights {
    grid: auto-flow/1fr;
  }

  .footer__rights .link {
    margin-top: 24px;
  }

  .arrow-to-top {
    width: 64px;
    height: 64px;
  }

  .arrow-to-top::after {
    bottom: 20px;
    right: 24px;
  }
}
