@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body {
  margin: 0 auto;
  padding: 0 auto;
}
.n__header {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 19px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 23% 37% 41%;
  grid-template-rows: 80px;
  align-items: center;
  justify-content: space-between;
  // padding: 0 30px;
  &__container__deliverry {
    display: flex;
    align-items: center;
  }
  &__container__search {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 15px;
  }
  &__sign-delivery {
    width: 50px;
  }
  &__form {
    display: block;
    margin-right: 20px;
  }
  &__inner {
    display: flex;
    align-items: center;
    height: 40px;
    box-sizing: border-box;
  }
  &__input {
    font-family: 'Roboto', sans-serif;
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
    font-size: 16px;
    width: 50px;
    transition: width 0.3s ease;
  }
  &__search_img {
    margin-right: 13px;
  }
  &__local_img {
    margin-right: 13px;
  }

  &__form:focus-within {
    background: rgba(0,0,0,0.05);
    border-bottom: 2px solid gray;
  }
  &__button {
    padding: 3px;
    line-height: 0;
    background: transparent;
    font-size: 16px;
    color: #757575;
    cursor: pointer;
    border: none;
    outline: none;
    display: none;
  }
  &__clear:focus,
  &__clear:hover,
  &__close:focus svg path,
  &__close:hover svg path {
    fill: #424242;
    color: #424242;
    transition: all 0.3s ease;
  }

  &__input:focus {
    width: 200px;
    cursor: initial;
  }

  &__bulkhead {
    width: 1px;
    height: 100%;
    background: #757575;
    margin: 0 5px;
    display: none;
  }

  &__form:focus-within .n__header__clear, .n__header__form:focus-within .n__header__close,
  &__form:focus-within .n__header__bulkhead{
    display: block;
  }
  &__adress-delivery__bts {
    display: flex;
    align-items: center;
  }
  &__adress-delivery__bts img {
    margin-right: 13px;
  }
  &__adress-delivery__destination-details {
    font-family: 'Roboto', sans-serif;
    color: #757575;
    font-size: 15px;
    appearance: none;
    border: none;
    height: 30px;
  }
  &__sign-delivery__button {
    text-decoration: none;
    color: #757575;
  }
  &__search__container {
    display: none;
  }
  // end important thinks
}

@media (max-width: 769px) {
  .n__header {
    grid-template-rows: 80px 153px;
    grid-template-columns: 1fr 1fr;
    // align-items: center;
    padding: 0 30px;
    &__container__deliverry {
      grid-row: 2;
    }
  }
}

@media (min-width: 1280px) {
  .n__header {
    width: 1200px;
  }
}

@media (max-width: 415px) {
  .n__header {
    grid-template-rows: 80px 79px 81px;
    // grid-template-columns: 100%;
    &__container__deliverry {
      grid-row: 3;
    }
    &__search__container {
      display: flex;
      align-items: center;
      grid-row: 2;
      height: 78px;
      border-bottom: 1px solid;
      width: 100%;
    }
    &__n__header__dest_btn {
      appearance: none;
      border: none;
    }
    &__form__hiden {
      display: none;
    }
    &__dest_btn {
      border: none;
      background: none;
    }
    &__dest_style {
      border: none;
      height: 30px;
    }
  }
}
