.invisibleItem {
  visibility: hidden;
 }

.form {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 52px;
  width: 140px;
  padding: 2px 16px;

  border-bottom: 2px solid #fff;
  outline: none;

  transition: all 0.3s;

  &__input,
  &__btn {
    background-color: transparent;
    border: none;
    outline: none;

    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;

    cursor: pointer;
  }

  &__input {
    height: 100%;
    width: 80%;

    margin-left: 10px;
    padding-left: 26px;

    background-position: left 0 top 13px;
    background-repeat: no-repeat;
  }

  &__input::-webkit-input-placeholder {
    color: #000;
  }

  &__input::-webkit-calendar-picker-indicator,
  &__btn {
    display: none;
  }

  &__clear {
    position: relative;

    padding: 5px 10px 5px 0;
  }

  &__clear::after {
    content: "";

    display: block;

    width: 1px;
    height: 100%;

    background-color: #9a9898;

    position: absolute;
    top: 0;
    right: 0;
  }

  &__close {
    margin: 2px 0 0 15px;
  }

  &__close img {
    width: 24px;
    height: 24px;
  }
}

.search__input {
  background-image: url(img/search-loop.svg);
  background-size: 18px;
}

.location__input {
  background-image: url(img/Vector.png);
  background-size: 14px;
}

.form:hover,
.form:focus-within {
  background-color: #F5F5F5;
  border-bottom: 2px solid #000;
}

.form:focus-within {
  width: 300px;
}

.form:focus-within .form__btn {
  display: block;
}

.form:focus-within .form__input {
  cursor: initial;
}
