@media (max-width: 1024px) {
  .header-wrapper,
  .main,
  .footer {
    padding: 0 8px;
  }

  .delivery__adress {
    max-width: 190px;
    font-size: 13px;
  }

  .delivery__span {
    margin: 0 3px;
  }

  .buttons__button {
    margin: 0 5px 0 0;
  }

  .buttons__basket-button {
    margin: 0;
  }

  .card-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__lang-select {
    width: 175px;
  }
}
