@media (max-width: 1024px) {
  .card-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .header__delivery,
  .header__location-clear-btn {
    display: none;
  }

  .main__search-and-delivery {
    margin-bottom: 30px;
  }

  .main__delivery {
    display: flex;
  }

  .main__delivery-time,
  .main__input-wrapper,
  .main__location-clear-btn {
    width: 50%;
    margin: 0;
  }

  .footer__apps {
    flex-direction: column;
  }

  .footer__additional-info-lists {
    width: 70%;
  }
}
