.search-field {
  display: flex;
  height: 54px;
  margin-bottom: 56px;

  border-bottom: 1px solid 	rgba(117,	117, 117, 0.3)
}

.restaurant-search {
  width: 100%;
  padding-left: 29px;

  font-size: 16px;
  line-height: 24px;
  // background-image: url(img/search.svg);
  background-position: left 0 top 16px;
  background-repeat: no-repeat;
  background-size: 22px;
  border: none;
}
