@import "../../styles/utils.scss";

.restaurant-list {
  --card-width: 348px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--card-width), 1fr));
  gap: 40px 20px;

  @media (max-width: $breack-point-tablet-lg) {
    --card-width: 340px;

    row-gap: 20px;
  }

  @media (max-width: $breack-point-phone) {
    --card-width: 280px;
  }

}
